body
	{
	padding: 0px 0px 0px 0px;
	margin-top: 0px;
	font: verdana, arial;
	font-size:16px;
	text-align: center;
	background-color: #fff;
	}
	

#container
	{
		width: 1180px;
		margin: 0px auto 0px auto;
		background-image: url(back.jpg);
		background-repeat: no-repeat;
		background-color: #fff;
		position:relative;
	}
	
#logo
	{
		width:219px;
		height:198px;
		position:absolute;
		top:0px;
		left:25px;
		margin-top:0px;
		z-index:2;
		background-color: #d9ceb1;
		background-color: #fff;
	}
#logo img
	{
		border-color:#ffffff;
	}	
	
#navigation
	{
		float:right;
		text-align:right;
		margin-top:57px;
		background-image: url(nav-back.jpg);
		background-color: #fff;
	}
	
#navigation a
	{
		font-family: Verdana,arial;
		font-size: 16px;
		color: #706f6f;
		margin-left:30px;
		text-decoration: none;
	}

#navigation a:hover
	{
		color: #8f8d8d;
	}
	
#navigation a:active
	{
		color: #d1d953;
	}
#conti
	{
		margin-top:82px;
		background-color: #ffffff;
		text-align:left;
	}
	
#homerechts
	{
		float:right;
	}
	
#homemitte
	{
		width:320px;
		height:311px;
		position:absolute;
		top:254px;
		left:430px;
		z-index:2;
		background-color: #ffffff;
	}